flask
gunicorn
requests
yfinance
smartapi-python
logzero          # ✅ SmartApi की अंदरूनी ज़रूरत
websocket-client # ✅ Websocket के लिए ज़रूरी
psutil           # ✅ health.py के लिए ज़रूरी
pyotp
python-telegram-bot
schedule
cachetools
